doctype xml
d:multistatus(xmlns:d="DAV:")
  each entry in entries
    d:response
      d:href #{entry.href}
      d:propstat
        d:prop
          d:resourcetype
            if entry.isDirectory
              d:collection
          d:getcontentlength #{entry.size}
          d:getlastmodified #{entry.mtime}
          if entry.displayName
            d:displayname #{entry.displayName}
          if !entry.isDirectory && entry.contentType
            d:getcontenttype #{entry.contentType}
        d:status HTTP/1.1 200 OK
